.flex {
    display: flex;
    align-items: center;
}

.country-container {
    border: 1px solid salmon;
    border-radius: 10px;
    padding: 5px;
}

.flag {
    width: 40px;
    height: 25px;
    margin-left: 10px;
}

.visited-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: salmon;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
}

.default-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #dbdbdb;
    cursor: pointer;
    transition: border-color 0.25s;
}